@import
	url(https://fonts.googleapis.com/css?family=Lato:300italic,700,400italic,900,300,400)
	;

@CHARSET "ISO-8859-1";

#bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1 !important;
	
	
}

.bgwidth {
	width: 100%;
}

.bgheight {
	height: 100%;
}

#main {
	position: relative;
	z-index: 2;
}

#con {
	background-color: white;
	width: 28% !important;
	height: 48%;
	float: left;
	margin-left: 20%;
	margin-top: 21%;
	color: #CB7778;
	font-family: 'Lato';
}

#con h2 {
	margin-top: 5%;
	text-align: center;
	font-family: 'Lato';
	font-size: 2.3vw;
}

#con input {
	margin-left: 90%;
	width: 100%;
	height: 10%;
}

#go input {
	width: 58%;
	height: 15%;
	margin-left: 132%;
	border: none;
}

#prem {
	background-color: white;
	width: 28% !important;
	height: 48%;
	float: left;
	margin-left: 1%;
	margin-top: 21%;
	font-family: 'Lato';
}

#span {
	text-align: center;
	color: #CB7778;
}

#con img {
	width: 22%;
	height: 15%;
	margin-left: 50%;
}

#con form {
	margin-right: 62%;
}

#prem {
	color: #CB7778;
}

#prem h3 {
	font-size: 2.3vw;
}

#prem p {
	font-size: 2vw;
}

#context h2 {
	margin-left: 71%;
}

#inscr {
	background: white;
	margin-top: 20% !important;
	margin-left: 27%;
	width: 45% !important;
	font-family: 'Lato';
	color: #CB7778;
}

#inscr input {
	margin-left: 3px;
}

#header {
	z-index: 2 !important;
	position: absolute;
}

#menu {
	z-index: 2 !important;
	position: absolute;
	width: 100%;
	margin-top: -6.3%;
	margin-left: 32%;
}

#menu ul {
	list-style: none;
	margin-top: 15.12%;
}

#header img {
	position: static;
	margin-top: -5%;
	width: 100%;
	height: auto;
	margin-left: 0%;
	z-index: 2 !important;
}

#acceuil {
	z-index: 2 !important;
	background-color: white;
	width: 48% !important;
	height: auto;
	float: left;
	margin-left: 23%;
	margin-top: 15%;
	font-family: 'Lato';
	position: absolute;
	color: #CB7778;
	margin-bottom:1%;
	font-size: 0.9vw;
}

#image {
	top: 0px;
	left: 0px;
	width: 50%;
	float: left;
	display: inline;
}

#texte {
	width: 50%;
	font-family: 'Lato';
	float: right;
	font-size: 1.5vw;
}

#image img {
	top: 0px;
	left: 0px;
	width: 100%;
	padding-left: 0;
}

body b {
	display: none;
}

#moncompte {
	z-index: 2 !important;
	background-color: white;
	width: 48% !important;
	height: auto;
	float: left;
	margin-left: 23%;
	margin-top: 15%;
	font-family: 'Lato';
	position: absolute;
	color: #CB7778;
	font-size: 1vw;
}

#acceuil form {
	margin-left: 2%;
}

#acceuil input[type=text] {
	color: #CB7778;
	height: 15%;
	width: 15%;
	text-decoration: none;
	border-radius: 5px;
	margin-left: 1%;
	border: 1;
}

#acceuil h1 {
	float: right;
	margin-right: 33%;
}

#acceuil input[type=password] {
	color: #CB7778;
	height: auto;
	width: 20%;
	text-decoration: none;
	border-radius: 5px;
	border: 1;
}

#imgcochon {
	float: left;
	width: 50%;
	height: 0;
}

#imgcochon img {
	    float: left;
    width: 40%;
    height: auto;
    margin: 10%;
}

#formu {
	    margin-right: 4%;
    float: right;
    width: 70%;
    height: 100%;
    font-size: 1.1vw;
}

#formu form {
	margin-top: 10%;}
	#formu h1{
	    float: none;
    margin-left: 5%;
    width: 60%;
    margin-top: 11%;
	}

#menu a {

	color: #761327;
	text-decoration: none;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 0.9vw;
	font-family: "Lato";
}

#menu li {
	display: block;
	float: left;
	color: black;	
	width: auto;
	padding-top:0.55%;
	padding-bottom:0.55%;
	padding-left:0.5%;
	padding-right:0.5%;
	border: solide;
	background-color: white;
	
}
#imgcochon2 {
	float: left;
	width: 50%;
	height: 0;
}

#imgcochon2 img {
	float: left;
	width: 40%;
	height: auto;
	margin:10%;

}
#inscri{
	margin-right:4%;
	float: right;
	width: 70%;
	height: 100%;
	font-size:1.1vw;
	
}
#inscri h1{
	float:none;
	margin-left:5%;
	width:60%;
	margin-top:11%;
}

#inscri input[type=text]{
	
	width:5vw;
}
#chiant{
	width:80% !important;
}
#inscri form{
	margin-top:10%;
	
}

#texte h1{
	width:55%;
}
#ici {
	margin-right:10% !important;
}

#contact{
	width:80%;
	margin-left:12%;
	margin-top:3%;
	margin-bottom:5%;
	font-size:2vw;
	text-align:center;
	
}
#contact input[type=text]{
	
	width:8vw;
	height:2vw;
}
#contact textarea{
	
	margin-right:0%;
	width:20vw;
	height:10vw;
}
#contact input[type=button]{
	
	width:8vw;
	height:2vw;
	border:none;
	background-color : #A76668; 
	color:white;
}
#contact h1{
	font-size:2vw;
	margin-left:20%;
	width:120px:
}
#formu input[type=submit]{
	
	
	width:8vw;
	height:2vw;
	border:none;
	background-color : #A76668; 
	color:white;

}

#menu li:hover{
	background-color:transparent;
	
	
	
}
#menu li:hover a{
	
	color:white;
	
}
#acceuil2 {
	z-index: 2 !important;
	background-color: white;
	width: 48% !important;
	height: auto;
	float: left;
	margin-left: 23%;
	margin-top: 15%;
	font-family: 'Lato';
	position: absolute;
	color: #CB7778;
	margin-bottom:1%;
	font-size: 0.9vw;
	

}
#acceuil3 {
	z-index: 2 !important;
	background-color: white;
	width: 48% !important;
	height: auto;
	float: left;
	margin-left: 23%;
	margin-top: 48%;
	font-family: 'Lato';
	position: absolute;
	color: #CB7778;
	margin-bottom:1%;
	font-size: 0.9vw;
	border-top:solid;
	

}
#acceuil2 h1{
	margin-top: 0%;
	margin-bottom: 4%;
	width:auto;
	text-aligne:center;
	margin-left:2%;
}
#acceuil2 #texte {
	
		padding-top:8%;
}
#acceuil2 #texte span {
	
		margin-left:3%;
}
#prototype{
	width: auto;
}
#acceuil3 h1{
		margin-top: 0%;
	margin-bottom: 4%;
	width:auto;
	text-aligne:center;
	margin-left:2%;
	
}
#acceuil3 #texte {
	
		padding-top:8%;
}
#stat{
	width:100%;
	margin-right:30%;
	margin-top:7%;

	
}
#acceuil5 {
	z-index: 2 !important;
	background-color: white;
	width: 48% !important;
	height: auto;
	float: left;
	margin-left: 23%;
	margin-top: 15%;
	font-family: 'Lato';
	position: absolute;
	color: #CB7778;
	margin-bottom:1%;
	font-size: 0.9vw;
	
	
	

}
#acceuil5 h1 {
	
	margin-right:10%;
	margin-top:5%;

}
#acceuil5 h2 {
	
	margin-bottom:0;

}
#acceuil5 p {
	
	margin-top:0;

}
#obj {
	margin-left:2%;

}
#footer{
	z-index: 3 !important;
	background-color: white;
	position: absolute;
	margin-top:48%;
	margin-left:23%;
	width:50%;
	text-align:center;
}
#footer a{
	text-decoration:none;
	color:#CB7778;
}




