
@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700,400italic,900,300,400);
@CHARSET "ISO-8859-1";

html{
	background-image:url("FOND2.png");
	
}

#con{
	background-color:white;
	width:516px !important;
	height:452px;
	float:left;
	margin-left:500px;
	margin-top:400px;
	color:#CB7778;
	font-family:"
	
	
}
#con h2{
	margin-top:20px;
	text-align:center;
	font-family:'Lato';
	font-size:30pt;
	
}
#con input{
	margin-left:130px;
	width:300px;
	height:50px;
	
}
#go input{
	width:150px;
	height:68px;
	margin-left:280px;
	background-image:url("taille.png");
	border:none;
	
}
#prem{
	background-color:white;
	width:516px !important;
	height:452px;
	float:left;
	margin-left:10px;
	margin-top:400px;
	
	
}
#span{
 	text-align:center;
 	color:#CB7778;
	
	
}
#con img{
	width:150px;
	margin-left:280px;

}

#con form{
	margin-right:150px;
}
#prem{
	color:#CB7778;
}
#prem h3{
	font-size:36pt;
}
#prem p{
	font-size:18pt;
}
#context h2{
	margin-left:90px;
}


